/**********************************************************
* rutorrent Credentials: Basic security for rutorrent
* Author: Carlos Jimenez Delgado (mail@carlosjdelgado.com)
* License: GNU General Public License
**********************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	font-family: 'Roboto', sans-serif;
}

div#logoff {
	background: transparent url(../img/logoff.png) no-repeat;	
}

.login-card {
	padding: 40px;
	width: 274px;
	height: 261px;
	background-color: #F7F7F7;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	position: absolute;
	top: 50%; 
	left: 50%; 
	margin-left: -185px; /*half width*/
	margin-top: -165px; /*half height*/
}

.error-msg {
    background-color: #eee;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
	border-bottom: 1px solid #ddd;
	font-weight: 100;
}

.login-card h1 {
	font-weight: 100;
	text-align: center;
	font-size: 2.3em;
	margin-top: 0px;
}

.login-card h1 img {
	margin-right: 10px;
}

.login-card label {
	font-weight: 100;
}

.login-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.login-card input[type=checkbox] {
	margin-bottom: 10px;
}

.login-card input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
	user-select: none; */
}

.login-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1); 
	background-color: #4d90fe;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
}

.login-card a:hover {
	opacity: 1;
}

.login-help {
	width: 100%;
	text-align: center;
	font-size: 12px;
}